---
name: Test Compactor
on:
  push:
    branches:
      - main
    paths:
      - "src/movie-graph/**"
      - ".github/workflows/test.yml"

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install dependencies
        run: uv sync --dev
      - name: Run linter
        run: uv run black --check --diff src/movie-graph
